*{
    padding: 0;
    margin: 0;
}

.set{
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    display: flex;
}

.setVal{
    width: 30%;
    height: 10vh;
    text-align: center;
    margin: 0 auto;
    font-size: 300%;
}

.button-container{
    width: 13%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

.btn{
    margin: 0 auto;
    font-size: 200%;
    padding: 1px 11px;
    text-align: center;
}

#remain{
    font-size: 39vh;
}

.disp{
    margin-top: 20vh;
    text-align: center;
}

#progress{
    width: 80%;
    height: 30vh;
}

.hidden{
    display: none;
}

.tasks_div{
    display: flex;
}

.tasks_form{
    opacity: 1;
}

.tasks_del{
    width: 30px;
}

.disp_div{
    display: flex;
}

.disp_task{
    opacity: 1;
}

.disp_fin{
    opacity: 1;
    width: 30px;
}
